* {
  font-family: "Roboto";
}
html {
  box-sizing: border-box;
  --hover-color: #2196f3;
  --p-color: #757575;
  --bg-color: #2f303a;
  --text-color: #212121;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*Start of Styles*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  width: 100%;
}
.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-nav {
  display: flex;
  width: 532px;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  width: 294px;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 32px 0;
}
.logo-web {
  color: var(--hover-color);
}

.logo-studio {
  margin-right: 93px;
}

.header li:not(.last-nav) {
  margin-right: 50px;
}

.logo-web {
  color: var(--hover-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-studio {
  color: black;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.nav-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.nav-list a:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}
.current-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}

.adress-top a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--p-color);
}
.adress-top a:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}
.top-mail {
  margin-right: 50px;
}
/*Start Banner Section Styles*/
.banner {
  padding: 200px 0;
  background-color: var(--bg-color);
  background-image: url(../images/background_image.jpg);
}
.h1-studio {
  display: block;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.button {
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  border: 0;
}
.button span {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
}
.button:hover {
  background-color: #ffffff;
}
.button span:hover {
  color: var(--hover-color);
}
.our-positive {
  padding-top: 94px;
}

.our-skills {
  display: flex;
}
.our-skills li:not(:last-child) {
  margin-right: 30px;
}
.our-skills h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}
.our-skills p {
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--p-color);
}
.we-do-section {
  padding: 94px 0 94px 0;
}
.we-do {
  margin-bottom: 50px;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.our-work {
  display: flex;
}
.our-work li:not(:last-child) {
  margin-right: 30px;
}
.team-section {
  padding: 94px 0 94px 0;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-list li:not(:last-child) {
  margin-right: 30px;
}
.our-team {
  margin-bottom: 50px;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-list li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--p-color);
}
.team-list h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.footer {
  width: 100%;
  background: var(--bg-color);
  padding: 60px 0;
  padding-left: 15px;
}

.logo-2 {
  margin-bottom: 20px;
}
.logo-studio-2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress-item {
  margin-bottom: 9px;
}
.adress-visit {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress-visit:hover {
  color: var(--hover-color);
}
.down-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.down-contacts:hover {
  color: var(--hover-color);
}
/*Начало стилей "Портфолио"*/
.header-container-portfolio {
  border-bottom: 1px solid #ececec;
  width: 100%;
}
.portfolio-main-section {
  padding: 94px 0 94px 0;
}
.category-list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.category-list li:not(:last-child) {
  margin-right: 8px;
}
.category-list button {
  background-color: #f5f4fa;
  height: 38px;

  border-radius: 4px;
  border: 0px;
}
.category-list span {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.category-list button:hover {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.category-list button:hover > span {
  color: #ffffff;
}
.all {
  width: 73px;
}
.sites {
  width: 128px;
}
.apps {
  width: 145px;
}
.design {
  width: 103px;
}
.marketing {
  width: 130px;
}
.examples {
  display: none;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
}
.examples-list li {
  width: calc((100% - 60px) / 3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.examples-list li:nth-child(3n) {
  margin-right: 0;
}
.examples-list li:nth-child(n + 7) {
  margin-bottom: 0;
}
.examples-list img {
  width: 370px;
  height: 294px;
}
.examples-sign-container {
  padding: 20px 24px;
}
.examples-list h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin: 0px;
}
.examples-list p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin: 0px;
}
